footer{
    z-index:200;
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(115, 139, 195);
    padding: 30px 20px;
    border-top: 1px solid #222;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.foot2-6>div{
    float: left;
    padding-right: 65px;
    margin-top: 20px ;
}
.colo{
    color: rgb(241, 239, 77);
}